/* SCHEDULE CARD */

/* -- TALK CARD -- */

.talk__card{
  text-decoration: none;
  display: grid;
  color: #666;
  padding:5px;
  padding-top: 10px;
  position: relative;
  grid-template-columns: [talk_col_start] 20px [talk_col_author] 1fr [talk_col_space] auto [talk_col_photo] 65px [talk_col_end];
  grid-template-rows: [talk_row_top] 10px [talk_row_author] 1fr [talk_row_photo] 1fr [talk_row_end];
  grid-template-areas:
    "level title . photo"
    ". title . photo"
    ". author . photo"
}

.talk__card:hover{
  text-decoration: none;
  color:inherit;
  background:rgba(30,121,130,0.1);
}

.talk__card > span{
  grid-area: level;
  align-self: start;
  justify-self: center;
  font-size: 11pt;
  line-height:1.1em;
}

.talk__card.keynote > h4 {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}

.keynote > talk__time > .p{
  color: #ccc;
}

.keynote > talk__card > .p{
  color: #ccc;
}

.talk__card.keynote {
    grid-column: 2 / talk_col_end;
}

.keynote > span.level__all {
    display: none;
}

.level__advanced{
  color: #FF3366;
}

.level__medium{
  /* color: #FFCC66; */
  /* color: #EEFF41; */
  color: #FF3366;
}

.level__beginners{
  /* color: #33CC99; */
  color: #FFCC66;
}

.level__all{
  color: #33CC99;
}

.talk__card > h4{
  grid-area: title;
  font-size: 11pt;
  font-family: arial;
  font-weight: 600;
  margin:0;
  line-height:1.1em;
  max-height:2em;
  overflow: hidden;
}

.talk__card > p{
  grid-area: author;
  font-size: 0.8em;
  align-self: start;
  margin:0;
  padding:0;
  line-height:1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.talk__card_blue{
  color: #336699;
  font-weight: 100;
  font-size: 0.9em;
}

.talk__card > div {
  grid-area: photo;
  text-align: center;
  position: relative;
}

.circle_clip{
  /* clip-path: circle(30px at center); */
  border-radius: 50%;
  height: 60px;
}

.talk__card > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #666;
  top:0;
  bottom: 0;
  clip-path: polygon(100% 50%, 50% 100%, 100% 100%);
}

.talk__card_check{

}
.talk__card > div > i{
 color:white;
  right: 2px;
  bottom: 1px;
  position: absolute;
}

/*

.fa-check {
 color:#33cc99 !important;
}

.fa-star {
 color:#FFCC66 !important;
}

*/

@media screen and (max-width: 999px) {
  .talk__card{
    border-bottom:1px solid #E8E6E3;
  }

  .talk__card:last-child{
    border: none;
  }

  .talk__card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 2px solid #ccc;
    z-index: -1;
  }

    .talk__card:last-child:after{
    display:none;
  }
}

/* ------------------- */
/* -- SCHEDULE GRID -- */
/* ------------------- */

/* FILTER */

.schedule__filter{
  background: #1782;
  padding: 20px;
  margin: 25px;
  position: relative;
  border-radius: 10px;
}

.schedule__filter > .fa-filter{
  color: #666;
  position: absolute;
  right: 10px;
  top: 10px;
  text-shadow: 0 1px 0 #fff;
}

.schedule__filter > h3{
  color: #666;
  font-weight: 100;
  border-bottom: 1px solid #888;
  margin: -5px 0 10px;
  padding-bottom: 3px;
  font-size: 13px;
}

.filter__container{
  vertical-align: top;
  background: #1E7982;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.filter__container > h3{
  font-weight: 100;
  font-size: smaller;
  color: #033;
  margin: 5px;
}

.filter__container > p{
  margin: 0;
  padding: 0 5px;
  font-size: small;
  color: #ccc;
}

.filter__container > p.show__all{
  text-align: center;
  color: rgba(255,255,255,.3);
}

.filter__selected {
  background: rgba(200,200,200,.2);
  border-radius: 5px;
}


/* TIME BLOCK */

.single__day__block {
  margin-bottom: 20px;
}

.schedule__date{
  display: block;
  position: relative;
  width: 100%;
  background-color: #C3D7E6;
  padding: 10px 25px;
}

.schedule__date{
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  background-color: rgba(195,215,230,.95);
  z-index: 9;
}

h2.time__block_date{
  font-weight: 100;
  font-size: 3vw;
  margin: 0;
}

h2.time__block_date > b{
  font-weight: bold;
}

.time__block:empty {
  display: none;
}

.time__block{
  display: grid;
  grid-column-gap: 1em;
  justify-items: stretch;
  padding: 5px 20px 13px;
  /* background: white; */
  margin: 0 20px;

  background: rgb(255,255,255);
  /* background: linear-gradient(180deg, rgba(160,201,205,1) 0%, rgba(160,201,205,0) 50%), rgb(255,255,255); */
}

  .time__block:nth-child(2){
    border-radius: 0 17px 0 0 ;
  }

  .time__block:nth-child(odd){
    /*background: #a0c9cd;*/
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%), rgb(160,201,205); */
  }

  .time__block:last-child{
    border-radius: 0 0 17px 17px ;
  }

.time__block.keynote {
    background: #d68027;
    color: white;
}

.lunch{
  background: #1E7982 !important;
  padding: 20px;
  color: #ccc;
}

.lunch > .talk__time > h3{
  color: #fff;
}

.lunch > .talk__time > p{
  color: #ccc;
}

.lunch__info > h3{
  padding: 0;
  margin: 0;
}

.lunch__info > p{
  padding: 0;
  margin: 0;
}

.lunch__info > p > b{
  color: white;
}

.talk__time{
  padding-left: 10px;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 4vw;
  z-index: 8;
  background: inherit;
}


.talk__time.is-sticky {
  font-size:20px;
   background-color:#FFF !important;
}

.talk__time > h3{
  font-size: 18pt;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.talk__time > p{
  font-size: 10pt;
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: #666;
}

/* TALK CARD COMPLEXITY */
.talk__card.advanced{
  opacity: 1;
}

.talk__card.medium{
  opacity: 1;
}

.talk__card.beginners{
  opacity: 1;
}

@media screen and (min-width: 1000px){

  .time__block{
    grid-template-columns: [time_col_start] 120px [time_col_slot1] 1fr [time_col_slot2]  1fr [time_col_end];
    background: white;
    margin: 2px 20px;
    padding: 10px 15px;
    grid-column-gap: 3vw;
  }





  .talk__time{
    background: none;
  }
  .talk__card{
    background: none;
  }
.lunch__info{
  grid-column: 2 / talk_col_end;
  padding-left: 25px;
}
}

@media screen and (max-width: 999px){

  .time__block{
    margin-bottom: 5px;

/* background: rgb(202,246,247);
background: linear-gradient(180deg, rgba(202,246,247,.5) 0%, rgba(255,255,255,1) 30%); */
/*     border-radius: 10px; */
  }



    h2.time__block_date{
      font-size: 3.5vw;
    }
    .talk__time{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1.4em .5em 1.5em;
  }

  .talk__time > h3{
    justify-self: start;
    text-align: left;
  }
    .talk__time > p{
    justify-self: end;
    align-self: end;
    text-align: left;
    grid-column: 3;
  }
  .lunch__info{
  grid-row: 2;
  grid-column: 1;
  padding-left: 25px;
  }
  .lunch__info > p {
    font-size: small;
  }

}

@media screen and (max-width: 700px){

    h2.time__block_date{
      font-size: 5vw;
    }
  .filter__container{
    margin-bottom: 10px;
  }

  .schedule-filter__container{
    margin-top: 1vw;
  }
}

@media screen and (max-width: 400px){

    h2.time__block_date{
      font-size: 7vw;
    }
}




/* SCHEDULE FILTER */

#schedule-filter-toggle{
    position:absolute;
    display:flex;
    justify-content: center;
    right:0px;
    top:0px;
    width:65px;
    height:30px;
    border:none;
    border-radius:5px;
    background:#ACCAD9;
    transition:0.3s all;
  }

  #schedule-filter-toggle:not(:disabled):hover{
    cursor:pointer;
    background:#96bfd3;
  }

  #schedule-filter-toggle-tag{
    font-size:12px;
    margin-left:2px;
  }

  .schedule-filter__container{
    position:fixed;
    right:20px;
    top:1.25vw;
    background:#ACCAD9;
    transition:0.3s all;
    overflow:hidden;
    width:65px;
    max-width:1000px;
    min-height:30px;
    max-height:30px;
    border:1px solid black;
    border-radius:5px;
    z-index:99;
  }

  .schedule-filter__container h3{
    color:rgba(0,0,0,0.4);
    font-weight:500;
    display:block;
    width:100%;
    text-align:left;
    font-size:14px;
    border-bottom:rgba(0,0,0,0.2) solid 1px;
    margin: auto;
    margin-top:0px;
    padding-bottom:4px;
    margin-bottom:16px;
  }

  .schedule-filter__only-on-show{
    width:0%;
    overflow:hidden;
    max-height:0px;
    box-sizing:border-box;
    transition:0.3s all;
  }



  /* SHOW TOGGLE EFFECTS */
  .schedule-filter__container--show{
    width:97vw;
    max-height:100vh;
    padding:16px;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
  }

  .schedule-filter__dont-stick {
    position:relative;
    width:auto;
    border:none;
    max-height:100vh;
    padding:16px;
    top: 0;
    left: 0;
    right: 0;
    margin:25px;
    max-width:100vw;
  }

  .schedule-filter__container--show #schedule-filter-toggle, .schedule-filter__dont-stick #schedule-filter-toggle {
    border:none;
    top:5px;
    right:5px;
    width:30px;
  }

  .schedule-filter__container--show #schedule-filter-toggle-tag, .schedule-filter__dont-stick #schedule-filter-toggle-tag {
    display:none;
  }

  @keyframes wait-first {
    from{max-height:0vh;}
    to{max-height:100vh;}
  }

  .schedule-filter__container--show .schedule-filter__only-on-show, .schedule-filter__dont-stick .schedule-filter__only-on-show{
    width:auto;
    animation: wait-first 0.5s;
    animation-fill-mode: forwards;
    animation-delay:0.3s;
  }

  /* FILTER BOX STYLES */

  .schedule-filter__options {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, 140px);
      grid-gap: .5rem;
  }


  .schedule-filter__dropdown {
    margin-right:4px;
    margin-bottom:4px;
    text-align:center;
    list-style:none;
    background:#1E7982;
    padding:4px 8px;
    border-radius:8px;
    display:inline-block;
  }

  .schedule-filter__dropdown li:first-of-type {
    font-weight:500;
    letter-spacing:0.5px;
    /*border-bottom:1px solid rgba(255,255,255,0.1);
    margin-bottom:6px;
    padding-bottom:2px;
    color:#fff;*/
    text-align:center;
  }

  .schedule-filter__dropdown li {
    font-size:13px;
    padding:0px;
  }

  .schedule-filter__dropdown li .icon {
    margin-right:4px;
  }

  .schedule-filter__dropdown input[type="checkbox"]{
    display:none;
    margin:0px;
  }

  .schedule-filter__dropdown input[type="checkbox"] + label {
    display:inline-block;
    padding:2px 8px;
    border-radius:4px;
    color:rgba(255,255,255,0.5);
    margin-bottom:4px;
    width:100%;
  }

  .schedule-filter__dropdown input[type="checkbox"] + label:hover{
    cursor:pointer;
    background:rgba(255,255,255,0.05);
    color:rgba(255,255,255,0.75);
  }

  .schedule-filter__dropdown input[type="checkbox"]:checked + label {
    background:rgba(255,255,255,0.15);
    color:rgba(255,255,255,1);
  }
