{% extends "base.html" %}
{% load cms_tags core_tags i18n l10n static sekizai_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
{% endblock css %}

{% block content %}
    <div id="dashboard__container">
        <div class="dashboard__header">
            <h1>{% trans 'Dashboard' %}</h1>
        </div>
        <div class="dashboard">
            {% get_conference_registration as registration %}
            <div class="dashboard__card registration-status{% if not registration.ready %} not-ready{% endif %}">
                <h2>{% trans 'REGISTRATION STATUS' %}</h2>
                {% if registration.ready %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {% blocktrans %}
                        <p><strong>Ready for PyCon Latam 2019</strong></p>
                        <p>You've registered and paid for this year's attendance.</p>
                        <p>
                            <small>Get ready to pack your bags!</small>
                        </p>
                    {% endblocktrans %}
                {% else %}
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <p><strong>{% trans 'Your Pycon Latam 2019 registration is missing:' %}</strong></p>
                    <ul>
                        {% for missing in registration.missing %}
                            <li>{{ missing }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="dashboard__card dashboard__card--wide ticket-details">
                {% if registration.reservation %}
                    <h2>{% trans 'TICKET' %}</h2>
                    <div class="ticket-details__space-between">
                        <div>
                            {% if request.user.get_full_name %}
                                <h3>{{ request.user.get_full_name }}</h3>
                            {% else %}
                                <a href="{% url 'account_settings' %}">{% trans 'Add name' %}</a>
                            {% endif %}
                            <p>
                                <small>{{ request.user.email }}</small>
                            </p>
                        </div>
                        <img src="{% static 'img/pylatamheader.svg' %}" alt="pylatam">
                    </div>
                    <h4>{% trans 'Conference' %}</h4>
                    <p>PyCon Latam 2019</p>
                    <div class="ticket-details__space-between">
                        <div>
                            <h4>{% trans 'Reservation #' %}</h4>
                            <p>{{ registration.reservation.number }}</p>
                        </div>
                        <div>
                            <h4>{% trans 'Check In' %}</h4>
                            <p>{{ registration.reservation.checkin }}</p>
                        </div>
                        <div>
                            <h4>{% trans 'Check Out' %}</h4>
                            <p>{{ registration.reservation.checkout }}</p>
                        </div>
                    </div>
                {% else %}
                    <div id='sliding-form-window'>
                        <h3 class='sliding-form-window__label'>{% trans 'TICKET' %}</h3>
                        <div id='sliding-form'>
                            {% csrf_token %}
                            {% get_conference_dates as dates %}
                            <div class='sliding-form__1'>
                                <h3>{% trans 'Ticket not yet confirmed' %}</h3>
                                <button onclick='slideTo("3A")'>
                                    <a>{% trans 'GET YOUR TICKET NOW' %}</a>
                                </button>
                                <br>
                                <p>
                                    <small>{% trans 'Got your ticket already?' %} <a href="#" onclick='slideTo("2A")'>{% trans 'Confirm Your booking' %}</a></small>
                                </p>
                            </div>
                            <div class='sliding-form__2A'>
                                <ul id='confirmation__errors' class="errorlist nonfield"></ul>
                                <h3>{% trans 'Please enter your confirmation number below' %}</h3>
                                <div class='horizontal-flex--reverse'>
                                    <input type="email" name='confirmEmail'
                                           placeholder="{% trans 'Reservation E-Mail' %}" id='confirmation__email'>
                                    <i class="fa fa-address-book" aria-hidden="true"></i>
                                </div>
                                <ul id='email_confirmation__errors' class="errorlist nonfield"></ul>
                                <div class='horizontal-flex--reverse'>
                                    <input type="text" name='confirmNumber'
                                           placeholder="{% trans 'Reservation Number' %}" id='confirmation__number'>
                                    <i class="fa fa-address-card" aria-hidden="true"></i>
                                </div>
                                <ul id='number_confirmation__errors' class="errorlist nonfield"></ul>
                                <button>
                                    <a href="#" onclick="submitConfirmationForm()">{% trans 'Confirm Booking' %}</a>
                                </button>
                            </div>
                            <div class='sliding-form__2B'>
                                <h3>{% trans 'Thank you for submitting your booking confirmation!' %}</h3>
                                <p>{% trans 'Refresh the page to see your ticket details.' %}</p>
                                <button onClick="window.location.reload()"><a>{% trans 'Refresh Page' %}</a></button>
                            </div>
                            <div class='sliding-form__3A'>
                                <ul id='booking-details__errors' class="errorlist nonfield">

                                </ul>
                                <h3>{% trans 'Booking Details' %}</h3>
                                <div class='horizontal-flex--space-around'>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text"
                                                   for="inputGroupSelect01">{% trans 'Arrival' %}</label>
                                        </div>
                                        <select name="startDate" class="custom-select" id="start-date-field">
                                            {% for option in dates.checkin %}
                                                <option data-date="{{ option.1|date:'Y-m-d' }}" value="{{ option.0 }}">{{ option.1|date:'l j F' }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text"
                                                   for="inputGroupSelect01">{% trans 'Departure' %}</label>
                                        </div>
                                        <select name="endDate" class="custom-select" id="end-date-field">
                                            {% for option in dates.checkout %}
                                                <option data-date="{{ option.1|date:'Y-m-d' }}" value="{{ option.0 }}">{{ option.1|date:'l j F' }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text"
                                                   for="inputGroupSelect01">{% trans 'Number of Guests' %}</label>
                                        </div>
                                        <select name="numberOfGuests" class="custom-select" name="numberOfGuests"
                                                id="number-of-guests-field">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <button>
                                    <a href="#" onclick='validatePanel3A()'>{% trans 'Search for Rooms' %}</a>
                                </button>
                            </div>
                            <div class='sliding-form__3B'>
                                <h3>{% trans "Let's Go!" %}</h3>
                                <p>{% blocktrans %}You'll be redirected to Friendly Vallarta's website. PyCon Latam is
                                    all-inclusive and
                                    paying for a hotel room takes care of your ticket as well! Please place your booking
                                    with them, then come back to this dashboard to add your confirmation
                                    number.{% endblocktrans %}</p>
                                <br>
                                <button><a id='custom-link-button' target='_blank' href='#' onclick='getCustomLink()'>
                                    {% trans 'TO FRIENDLY VALLARTA' %}</a></button>
                                <br>
                                <p>
                                    <small>
                                        <a href='#' onclick='slideTo("2A")'>{% trans 'Confirm Your Booking' %}</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div id='what-can-i-do' class="dashboard__card dashboard__card--wide">
                <h2>{% trans 'WHAT CAN I DO?' %}</h2>
                <button><a href="{% url 'account_settings' %}">{% trans 'Account Settings' %}</a></button>
                <button><a href="#" class="btn disabled" aria-disabled="true">{% trans 'View Conference Schedule' %}</a></button>
                <button><a href="{% page_url 'hotel' LANGUAGE_CODE %}">{% trans 'View Hotel Information' %}</a></button>
            </div>
            <div class="dashboard__card">
                <h2>{% trans 'DAYS REMAINING' %}</h2>
                {% get_days_left as days_left %}
                <p class="dashboard__days-left"><span id="dashboard__days-left">{{ days_left }}</span>
                    {% blocktrans count days_left=days_left %}
                        <small> day left</small>
                    {% plural %}
                        <small> days left</small>
                    {% endblocktrans %}
                </p>
                <p>{% trans "PyCon Latam 2019 just can't come any faster!" %}</p>
            </div>
        </div>
        <div class="dashboard__sponsors">
            <h2>{% trans 'Thank You to Our Sponsors' %}</h2>
            {% if request.user.is_staff %}
                <div class="sponsors__deck">
                    <img src="http://logok.org/wp-content/uploads/2014/05/Google-logo-grey.png" alt="">
                    <img src="https://www.logolynx.com/images/logolynx/24/24a7e6699de87bc01ba2b69743231f00.png" alt="">
                    <img src="https://webitmd.com/wp-content/uploads/2017/03/partner-logos-grey-mailchimp-1.png" alt="">
                    <img src="https://logos-download.com/wp-content/uploads/2016/06/Nintendo_logo_gray.png" alt="">
                    <img src="https://airthings.com/wp-content/uploads/2016/10/Airthings_Logo_Horisontal_Grey_Web-2.png"
                         alt="">
                    <img src="https://webitmd.com/wp-content/uploads/2016/03/partner-logos-grey-squarespace.png" alt="">
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
        // using jQuery
        document.addEventListener("DOMContentLoaded", function () {
            console.log(typeof $);
            window.csrftoken = $("[name=csrfmiddlewaretoken]").val();

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        const slideTo = (newScreen) => {
            const slidingForm = document.getElementById("sliding-form");
            slidingForm.style.opacity = '0';
            setTimeout(function () {
                switch (newScreen) {
                    case "1":
                        slidingForm.style.top = '0px';
                        slidingForm.style.left = '0px';
                        break;
                    case "2A":
                        slidingForm.style.top = '0px';
                        slidingForm.style.left = '-100%';
                        break;
                    case "2B":
                        slidingForm.style.top = '0px';
                        slidingForm.style.left = '-200%';
                        break;
                    case "3A":
                        slidingForm.style.top = '-100%';
                        slidingForm.style.left = '0px';
                        break;
                    case "3B":
                        slidingForm.style.top = '-100%';
                        slidingForm.style.left = '-100%';
                        break;
                }
                setTimeout(function () {
                    slidingForm.style.opacity = '1';
                }, 150)
            }, 200);
        };

        const getCustomLink = () => {
            var url;
            var startDate;
            var endDate;
            var guestsCount;
            const accessCode = 'PYCONLAT19';
            startDate = $('#start-date-field').val();
            endDate = $('#end-date-field').val();
            guestsCount = $('#number-of-guests-field').val();
            url = '{{ reservations_url }}?PropertyNumber=3275&Provider=0&Rooms=1&AccessCode=' + accessCode + '&Currency=USD&CheckIn=' + startDate + '&CheckOut=' + endDate + '&Adults=' + guestsCount + '&Children=0&Ages=&Contract=&Juniors=0';
            $('#custom-link-button').attr('href', url);
        };

        const setConfirmationErrors = (arr, list_id) => {
            errors = arr;
            errorsField = document.getElementById(list_id);
            errorsHTML = '';
            errors.forEach(function (error) {
                errorsHTML = errorsHTML + "<li>" + error + "</li>";
            });
            errorsField.innerHTML = errorsHTML;
        };

        const validatePanel3A = () => {
            let errors = [];
            var startDate = $('#start-date-field').find('option:selected').data('date');
            var endDate = $('#end-date-field').find('option:selected').data('date');
            var guestCount = $('#number-of-guests-field').val();
            const errorField = document.getElementById('booking-details__errors');

            if (startDate.length === 0){
                errors.push('{% trans "Arrival date is required" %}');
            }

            if (endDate.length === 0){
                errors.push('{% trans "End date is required" %}');
            }

            if (guestCount.length === 0){
                errors.push('{% trans "Guest count is required" %}');
            }

            if (errors.length === 0){
                var diff = new Date(Date.parse(endDate) - Date.parse(startDate));
                var days = diff/1000/60/60/24;

                if (days >= 3){
                    errorField.innerHTML = '';
                    slideTo('3B');
                }
                else{
                    errors.push('{% trans "There is a minimum requirement of three or more nights" %}');
                }
            }
            setConfirmationErrors(errors, 'booking-details__errors')
        };

        const submitConfirmationForm = () => {
            console.log("This is an AJAX call to confirm the following details:");

            const email = document.getElementById("confirmation__email").value;
            console.log("E-Mail: " + email);

            const number = document.getElementById("confirmation__number").value;
            console.log("Confirmation Number: " + number);

            $.ajax({
                type: "POST",
                url: "{% url 'account_register' %}",
                data: {
                    email: email,
                    reservation_number: number,
                },
                dataType: 'json'
            }).done(function (data) {
                console.log('The AJAX call was successful.');

                const registrationValid = (data) => {
                    console.log('Registration was successful');
                    console.log(data);
                    slideTo("2B");
                };

                const registrationInvalid = (data) => {
                    var error;
                    if (data.errors.email) {
                        error = data.errors.email[0].message;
                        setConfirmationErrors([error], 'email_confirmation__errors');
                    }
                    if (data.errors.reservation_number) {
                        error = data.errors.reservation_number[0].message;
                        setConfirmationErrors([error], 'number_confirmation__errors');
                    }
                    if (data.errors.__all__) {
                        error = data.errors.__all__[0].message;
                        setConfirmationErrors([error], 'confirmation__errors');
                    }
                };

                data.success ? registrationValid(data) : registrationInvalid(data);

            }).fail(function (jdXHR, textStatus, errorThrown) {
                console.log('The AJAX call failed.');
                console.log(textStatus + ': ' + errorThrown);
            })
        }
    </script>

{% endblock js %}
