{% extends "base.html" %}
{% load cms_tags core_tags i18n static sekizai_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
{% endblock css %}

{% block content %}
    <div id="dashboard__container">
        <div class="dashboard__header">
            <h1>{% trans 'Dashboard' %}</h1>
        </div>
        <div class="dashboard">
            {% get_conference_registration as registration %}
            <div class="dashboard__card registration-status{% if not registration.ready %} not-ready{% endif %}">
                <h2>{% trans 'REGISTRATION STATUS' %}</h2>
                {% if registration.ready %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {% blocktrans %}
                        <p><strong>Ready for PyCon Latam 2019</strong></p>
                        <p>You've registered and paid for this year's attendance.</p>
                        <p>
                            <small>Get ready to pack your bags!</small>
                        </p>
                    {% endblocktrans %}
                {% else %}
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <p><strong>{% trans 'Your Pycon Latam 2019 registration is missing:' %}</strong></p>
                    <ul>
                        {% for missing in registration.missing %}
                            <li>{{ missing }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="dashboard__card dashboard__card--wide ticket-details">
                <!-- this is the new code for funcitonality of purchasing and confirming ticket -->
                <div id='sliding-form-window'>
                  <h3 class='sliding-form-window__label'>TICKET</h3>
                  <div id='sliding-form'>
                    <div class='sliding-form__1'>
                      <h3>Ticket not yet confirmed</h3>
                      <button onclick='slideTo("3A")'><a>GET YOUR TICKET NOW</a></button>
                      <br>
                      <p><small>Got your ticket already? <a href="javascript:;" onclick='slideTo("2A")'>Confirm Your booking</a></small></p>
                    </div>
                    <div class='sliding-form__2A'>
                      <h3>Please enter your confirmation number below</h3>

                      <div class='horizontal-flex--reverse'>
                        <input type="text" name='firstName' placeholder='First Name'>
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                      </div>
                      <div class='horizontal-flex--reverse'>
                        <input type="text" name='lastName' placeholder='Last Name'>
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                      </div>
                      <div class='horizontal-flex--reverse'>
                        <input type="text" name='confirmNumber' placeholder='Confirmation Number'>
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                      </div>

                      <button><a href="javascript:;" onclick='slideTo("2B")'>Confirm Booking</a></button>
                    </div>
                    <div class='sliding-form__2B'>
                      <h3>Congratulations</h3>
                      <p>You've successfully confirmed your booking for PyLatam</p>
                    </div>
                    <div class='sliding-form__3A'>
                      <h3>Booking Details</h3>
                      <div class='horizontal-flex--space-around'>
                        <div>
                          <h4>Start Date</h4>
                          <select name="startDate" id="start-date-field">
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                          </select>
                        </div>
                        <div>
                          <h4>End Date</h4>
                          <select name="endDate" id="end-date-field">
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                          </select>
                        </div>
                        <div>
                          <h4>Number of Guests</h4>
                          <select name="numberOfGuests" id="number-of-guests-field">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                          </select>
                        </div>
                      </div>
                      <br>
                      <button><a href="javascript:;" onclick='slideTo("3B")'>Search for Rooms</a></button>
                    </div>
                    <div class='sliding-form__3B'>
                      <h3>Let's Go!</h3>
                      <p>You'll be redirected to Friendly Vallarta's website. PyLatam is all-inclusive and paying for a hotel room takes care of your ticket as well! Please place your booking with them, then come back to this dashboard to add your confirmation number.</p>
                      <br>
                      <button><a id='custom-link-button' target='_blank' href='#' onclick='getCustomLink()'>TO FRIENDLY VALLARTA</a></button>
                      <br>
                      <p><small><a href='#' onclick='slideTo("2A")'>Confirm Your Booking</a></small></p>
                    </div>
                  </div>
                </div>
                <!-- END this is the new code for funcitonality of purchasing and confirming ticket -->

            </div>
            <div id='what-can-i-do' class="dashboard__card dashboard__card--wide">
                <h2>{% trans 'WHAT CAN I DO?' %}</h2>
                <button><a href="{% url 'account_settings' %}">{% trans 'Account Settings' %}</a></button>
                <button><a href="">{% trans 'View Conference Schedule' %}</a></button>
                <button><a href="{% page_url 'hotel' LANGUAGE_CODE %}">{% trans 'View Hotel Information' %}</a></button>
            </div>
            <div class="dashboard__card">
                <h2>{% trans 'DAYS REMAINING' %}</h2>
                {% get_days_left as days_left %}
                <p class="dashboard__days-left"><span id="dashboard__days-left">{{ days_left }}</span>
                    {% blocktrans count days_left=days_left  %}
                        <small> day left</small>
                        {% plural %}
                        <small> days left</small>
                    {% endblocktrans %}
                </p>
                <p>{% trans "PyCon Latam 2019 just can't come any faster!" %}</p>
            </div>
        </div>
        <div class="dashboard__sponsors">
            <h2>{% trans 'Thank You to Our Sponsors' %}</h2>
            {% if request.user.is_staff %}
                <div class="sponsors__deck">
                    <img src="http://logok.org/wp-content/uploads/2014/05/Google-logo-grey.png" alt="">
                    <img src="https://www.logolynx.com/images/logolynx/24/24a7e6699de87bc01ba2b69743231f00.png" alt="">
                    <img src="https://webitmd.com/wp-content/uploads/2017/03/partner-logos-grey-mailchimp-1.png" alt="">
                    <img src="https://logos-download.com/wp-content/uploads/2016/06/Nintendo_logo_gray.png" alt="">
                    <img src="https://airthings.com/wp-content/uploads/2016/10/Airthings_Logo_Horisontal_Grey_Web-2.png" alt="">
                    <img src="https://webitmd.com/wp-content/uploads/2016/03/partner-logos-grey-squarespace.png" alt="">
                </div>
            {% endif %}
        </div>
    </div>

    {% addtoblock "js" [strip] %}
      <script>
        slideTo = (newScreen) => {
          const slidingForm = document.getElementById("sliding-form");
          slidingForm.style.opacity = '0';
          setTimeout(function(){
            switch(newScreen){
            case "1":
              slidingForm.style.top = '0px';
              slidingForm.style.left = '0px';
              break;
            case "2A":
              slidingForm.style.top = '0px';
              slidingForm.style.left = '-100%';
              break;
            case "2B":
              slidingForm.style.top = '0px';
              slidingForm.style.left = '-200%';
              break;
            case "3A":
              slidingForm.style.top = '-100%';
              slidingForm.style.left = '0px';
              break;
            case "3B":
              slidingForm.style.top = '-100%';
              slidingForm.style.left = '-100%';
              break;
          }
          setTimeout(function(){slidingForm.style.opacity = '1';},150)
        }, 200);
        }

        getCustomLink = () => {
          const button = document.getElementById("custom-link-button");

          const startDate = () => {
            const startDateField = document.getElementById("start-date-field");
            const selected = startDateField.options[startDateField.selectedIndex].value;

            if (selected == 'Wednesday') {
              return '20190828';
            } else if (selected == 'Thursday') {
              return '20190829';
            } else if (selected == 'Friday') {
              return '20190830';
            }
          };

          const endDate = () => {
            const endDateField = document.getElementById("end-date-field");
            const selected = endDateField.options[endDateField.selectedIndex].value;

            if (selected == 'Sunday') {
              return '20190901';
            } else if (selected == 'Monday') {
              return '20190902';
            }
          };

          const guestsCount = () => {
            const endDateField = document.getElementById("number-of-guests-field");
            return endDateField.options[endDateField.selectedIndex].value;
          }


          const accessCode = 'PYCONLAT19';

          const friendlyVallarta_URL = 'https://secure.internetpower.com.mx/portals/FriendlyEng/hotel/hoteldescription.aspx?PropertyNumber=3275&Provider=0&Rooms=1&AccessCode=' + accessCode + '&Currency=USD&CheckIn=' + startDate() + '&CheckOut=' + endDate() + '&Adults=' + guestsCount() + '&Children=0&Ages=&Contract=&Juniors=0';

          button.href = friendlyVallarta_URL;

        }
      </script>
      <!-- this is a JS TEST FOR TREVOR -->
    {% endaddtoblock %}
{% endblock content %}
