{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans "Confirm Email" %}{% endblock title %}

{% block form_title %}{% trans "Email Confirmation" %}{% endblock form_title %}

{% block form_area %}
  <form method="post" action="{% url "account_confirm_email" key=confirmation.key %}" autocomplete="off">
        {% csrf_token %}
        <div class='prompt__group'>
          <p>{% blocktrans with email=confirmation.email_address.email %}Confirm email address <b>{{ email }}</b>?{% endblocktrans %}</p>
        </div>
        <input type="submit" value="{% trans 'Confirm' %}">
  </form>
{% endblock form_area %}
