{% extends 'account/base.html' %}
{% load i18n %}
{% block title %}{% trans "Confirm your email address" %}{% endblock title %}

{% block form_title %}{% trans "Confirmation Email Sent" %}{% endblock form_title %}

{% block form_area %}
    <form method="post" action="#" autocomplete="off">
        {% csrf_token %}
        <div class='prompt__group'>
            <p>{% trans "An email has been sent to the provided email address containing a link to confirm your account." %}</p>
        </div>
    </form>
{% endblock form_area %}
