{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans "Email confirmed" %}{% endblock title %}

{% block form_title %}{% trans "Successfully Confirmed Email" %}{% endblock form_title %}

{% block form_area %}
  <form action="" autocomplete="off">
    <div class='prompt__group'>
      <p>{% trans "Your email for this account has been saved. Thank you for verifying your account." }</p>
    </div>
    <input type="submit" value='Continue'>
  </form>
{% endblock form_area %}

{% block reference_form_area %}
    <h1>{% trans "Email confirmed" %}</h1>
    <p>{% blocktrans with email=confirmation.email_address.email %}You have confirmed <b>{{ email }}</b>{% endblocktrans %}</p>
{% endblock reference_form_area %}
