{% extends 'account/base.html' %}
{% load account_tags i18n form_helpers %}

{% block title %}{% trans "Log in" %}{% endblock title %}

{% block form_title %}{% trans "Log in to an existing account" %}{% endblock form_title %}

{% block form_area %}
    <form method="post" action="{% url "account_login" %}"  autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class='prompt__group'>
            {% render_widget form.email %}
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        {{ form.email.errors }}
        <div class='prompt__group'>
            {% render_widget form.password %}
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        {{ form.password.errors }}
        <input type="submit" value="{% trans 'Login' %}">
    </form>
  <div class='prompt__subtext'>
    <p><a href="{% url 'account_password_reset' %}">{% trans 'Forgot your password?' %}</a></p>
  </div>
  <div class='prompt__card-footer'>
    <p>{% trans "Don't have an account?" %} <a href="{% url 'account_signup' %}">{% trans 'Sign up now' %}</a></p>
  </div>
{% endblock form_area %}
