{% extends "account/base.html" %}
{% load i18n form_helpers %}

{% block title %}{% trans "Change password" %}{% endblock title %}

{% block form_title %}{% trans "Change Your Password" %}{% endblock form_title %}

{% block form_area %}
    <form method="post" action="{% url 'account_password' %}" autocomplete="off">
        {% csrf_token %}
        <div class='prompt__group'>
            {% render_widget form.password_current %}
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        <div class='prompt__group'>
            {% render_widget form.password_new %}
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        <div class='prompt__group'>
            {% render_widget form.password_new_confirm %}
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        <input type="submit" value="{% trans 'Save' %}">
  </form>
{% endblock form_area %}
