{% extends "account/base.html" %}
{% load account_tags i18n core_tags %}

{% block title %}{% trans "Password reset" %}{% endblock title %}

{% block form_title %}{% trans "Enter the email associated with your account" %}{% endblock form_title %}

{% user_display request.user as user_display %}

{% block form_area %}
    <form method="post" action="{% url "account_password_reset" %}" autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class='prompt__group'>
            {% render_widget form.email %}
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        {{ form.email.errors }}
        <input type="submit" value="{% trans 'Reset Password' %}">
    </form>
{% endblock form_area %}
