{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% trans "Bad token" %}{% endblock title %}

{% block form_title %}{% trans "Bad Token" %}{% endblock form_title %}

{% block form_area %}
    <form action="#" autocomplete="off">
        <div class='prompt__group'>
            {% url 'account_password_reset' as reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
                request a <a href="{{ reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        </div>
    </form>
{% endblock form_area %}
