{% extends 'account/base.html' %}
{% load account_tags i18n %}

{% block title %}{% trans "Password reset sent" %}{% endblock title %}

{% block form_title %}{% trans "Password Reset Email Sent" %}{% endblock form_title %}

{% block form_area %}
    <form method="post" action="{% url "account_password_reset" %}" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
            {{ field.as_hidden }}
        {% endfor %}
        {{ form.non_field_errors }}
        {% if not resend %}
            <div class='prompt__group'>
                <p>{% trans "An email has been sent to the provided address containing a link to reset your password." %}</p>
            </div>
            <input type="submit" name="resend" value="{% trans 'Resend Email' %}">
        {% else %}
            <div class='prompt__group'>
                <p>{% trans "We have resent the password reset email." %}</p>
            </div>
        {% endif %}
    </form>
{% endblock form_area %}
