{% extends 'account/base.html' %}
{% load account_tags i18n %}

{% block title %}{% trans "Password reset sent" %}{% endblock title %}

{% block form_title %}{% trans "Password Reset Email Sent" %}{% endblock form_title %}

{% block form_area %}
  <form action="" autocomplete="off">
    <div class='prompt__group'>
      <p>{% trans "An email has been sent to the provided address containing a link to reset your password" }</p>
    </div>
    <input type="submit" value='Resend Email'>
  </form>
{% endblock form_area %}


{% block reference_form_area %}
    <h1>{% trans "Password reset sent" %}</h1>
    {% if not resend %}
        <p>{% blocktrans %}We have sent you an email.{% endblocktrans %}</p>
        <div class="row">
            <div class="col-md-5">
                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn btn-primary">{% trans "Resend" %}</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>{% blocktrans %}We have resent the password email.{% endblocktrans %}</p>
    {% endif %}
{% endblock reference_form_area %}
