{% extends 'account/base.html' %}
{% load i18n form_helpers %}

{% block title %}{% trans "Set your new password" %}{% endblock title %}

{% block form_title %}{% trans "Set your new password" %}{% endblock form_title %}

{% block form_area %}
    <form method="post" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}" autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class='prompt__group'>
            {% render_widget form.password %}
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        {{ form.password.errors }}
        <div class='prompt__group'>
            {% render_widget form.password_confirm %}
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        {{ form.password_confirm.errors }}
        <input type="submit" value="{% trans 'Change Password' %}">
    </form>
{% endblock form_area %}
