{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock title %}

{% block form_title %}{% trans "Change Your Password" %}{% endblock form_title %}

{% block form_area %}
  <form action="" autocomplete="off">
    <div class='prompt__group'>
      <input type="password" name='oldPassword' placeholder='Old Password'>
      <i class="fa fa-key" aria-hidden="true"></i>
    </div>
    <div class='prompt__group'>
      <input type="password" name='Password' placeholder='New Password'>
      <i class="fa fa-key" aria-hidden="true"></i>
    </div>
    <div class='prompt__group'>
      <input type="password" name='rePassword' placeholder='New Password (again)'>
      <i class="fa fa-key" aria-hidden="true"></i>
    </div>
    <input type="submit" value='Resend Email'>
  </form>
{% endblock form_area %}

{% block reference_form_area %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="">
                <legend>{% trans "Change password" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock reference_form_area %}
