{% extends 'account/base.html' %}
{% load core_tags i18n %}

{% block title %}{% trans "Account" %}{% endblock title %}

{% block form_title %}{% trans "Account Settings" %}{% endblock form_title %}

{% block form_area %}
    <form method="post" action="{% url "account_settings" %}" autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="prompt__settings">
            <div class="prompt__group">
                <h4>{% trans 'First Name' %}</h4>
                {% render_widget form.first_name %}
            </div>
            {{ form.first_name.errors }}
            <div class="prompt__group">
                <h4>{% trans 'Last Name' %}</h4>
                {% render_widget form.last_name %}
            </div>
            {{ form.last_name.errors }}
            <div class="prompt__group">
                <h4>{% trans 'Email' %}</h4>
                <p>{{ request.user.email }}</p>
            </div>
            <div class="prompt__group">
                <h4>{% trans 'Password' %}</h4>
                <p><a href="{% url 'account_password' %}">{% trans 'Change Your Password' %}</a></p>
            </div>
            <p><a href="{% url 'account_delete' %}" class='text-danger'>{% trans 'Delete Account' %}</a></p>
            <br>
        </div>
        <input type="submit" value="{% trans 'Save' %}"> <!-- Enable on form changes -->
    </form>
{% endblock form_area %}
