{% extends 'account/base.html' %}
{% load account_tags i18n core_tags %}

{% block title %}{% trans "Sign up" %}{% endblock title %}

{% block form_title %}{% trans "Sign Up" %}{% endblock form_title %}

{% block form_area %}
    <form method="post" action="{% url "account_signup" %}"  autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class='prompt__group'>
            {% render_widget form.email %}
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        {{ form.email.errors }}
        <div class='prompt__group'>
            {% render_widget form.password %}
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        {{ form.password.errors }}
        <div class='prompt__group'>
            {% render_widget form.password_confirm %}
            <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        {{ form.password_confirm.errors }}
        <div class='prompt__group'>
            {% render_widget form.captcha %}
        </div>
        {{ form.captcha.errors }}
        <input type="submit" value="{% trans 'Create an account' %}">
    </form>
  <div class='prompt__subtext'>
    <p>{% blocktrans %}By clicking 'Create an account' you agree to <a href="#">this legal thing</a>{% endblocktrans %}</p>
  </div>
  <div class='prompt__card-footer'>
    <p>{% trans 'Already have an account?' %} <a href="{% url 'account_login' %}">{% trans 'Login now' %}</a></p>
  </div>
{% endblock form_area %}
