@font-face {
    font-family: 'GT Pressura Bold';
    src: url('../fonts/gt_pressua_pro/GT-Pressura-Pro-Trial-Bold.otf');
}


@font-face {
    font-family: 'GT Pressura Regular';
    src: url('../fonts/gt_pressua_pro/GT-Pressura-Pro-Trial-Regular.otf');
}

@font-face {
    font-family: 'GT Haptik Bold';
    src: url('../fonts/gt_pressura_pro_m/GT-Haptik-Trial-Bold.otf');
}

@font-face {
    font-family: 'GT Haptik Ligth';
    src: url('../fonts/gt_pressura_pro_m/GT-Haptik-Trial-Light.otf')
}

@font-face {
    font-family: 'GT Haptik Trial Bold Oblique';
    src: url('../fonts/gt_pressura_pro_m/GT-Haptik-Trial-Bold-Oblique.otf');
}


.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GT Pressura Regular';
    letter-spacing: 3px;
    font-weight: 580;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GT Pressura Regular';
    letter-spacing: 3px;
    font-weight: 580;
}

.topnav-right {
    float: right;
}

.navbar-brand{
  padding:0 20px;
}
.navbar-brand img{
  height: 90px;
  display: block;
}

li.translation {
    padding-top: 5px;
    padding-left: 10px;
}

/* li .btn-default.active{
  background-color: #16b1bf;
  color: white;
}

li .btn-default.active:hover, li .btn-default.active:active{
  background-color: #3c6367;
  color: white;
} */

li .btn-primary {
    background-color: #d68027;
}

li .btn-primary:hover, li .btn-primary:active {
    background-color: #bb6f1f;
}

section {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
