@font-face {
    font-family: 'GT Pressura Bold';
    src: url('../fonts/gt_pressua_pro/GT-Pressura-Pro-Trial-Bold.otf');
}


@font-face {
    font-family: 'GT Pressura Regular';
    src: url('../fonts/gt_pressua_pro/GT-Pressura-Pro-Trial-Regular.otf');
}

@font-face {
    font-family: 'GT Haptik Bold';
    src: url('../fonts/gt_pressura_pro_m/GT-Haptik-Trial-Bold.otf');
}

@font-face {
    font-family: 'GT Haptik Ligth';
    src: url('../fonts/gt_pressura_pro_m/GT-Haptik-Trial-Light.otf')
}

@font-face {
    font-family: 'GT Haptik Trial Bold Oblique';
    src: url('../fonts/gt_pressura_pro_m/GT-Haptik-Trial-Bold-Oblique.otf');
}

body{
  font-family: nudista-web,sans-serif;
  min-width:305px;
  box-sizing:border-box;
}

h2{
  margin-top: 20px;
}

ul{
  padding-bottom: 10px;
}

.nav-link{
  box-sizing: border-box;
  color:#1f7982 !important;
  letter-spacing:1px;
  text-decoration: none;
  font-size:17px;
  background:inherit;
  transition:0.2s;
  padding-right:8px !important;
  padding-left:8px !important;
}



.navbar-toggler{
  border-color: white !important;
}

.navbar-toggler:focus{
  outline:none !important;
}

.navbar-toggler-icon{
  background-image: url(../img/hamburger-white.svg) !important;
}

.navbar-collapse{
  justify-content: flex-end;
}

.toggle-off.btn{
  background:#e6e6e6;
  box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}

.toggle-handle{
  background:white;
}


.nav-link:hover{
  color:#2796a2 !important;
  background: rgba(255,255,255,0.2);
  border-radius:5px;

}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GT Pressura Regular';
    letter-spacing: 3px;
    font-weight: 580;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GT Pressura Regular';
    letter-spacing: 3px;
    font-weight: 580;
}

.topnav-right {
    float: right;
}

.navbar-brand{
  padding:0 20px;
}
.navbar-brand img{
  height: 90px;
  display: block;
}

li.translation {
    padding-top: 5px;
    padding-left: 10px;
}

/* li .btn-default.active{
  background-color: #16b1bf;
  color: white;
}

li .btn-default.active:hover, li .btn-default.active:active{
  background-color: #3c6367;
  color: white;
} */

li .btn-primary {
    background-color: #d68027;
}

li .btn-primary:hover, li .btn-primary:active {
    background-color: #bb6f1f;
}

section {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
