body{
  background: rgba(58, 122, 171, .3);
  max-width:1300px;
  margin: 0 auto;
}

.navbar-default .navbar-nav>li>a {
  color:#1f7982;
}



img#wave {
    background-color: #00b0bf;
    margin-bottom: -1px;
}


section{
  padding: 20px 10%;
  overflow:auto;
  padding-bottom: 20px;
}

section p{
  padding: 5px;
}

section:not(:first-of-type):not(:nth-of-type(2)){
  background-color:white;
}

section:first-of-type p{
  color:#3A7AAB;
  font-size: 25px;
  padding-top: 10px;
  text-align: center;
}


section:nth-of-type(2){
  background: url(../img/Wave1.svg), url(../img/Wave2.svg), url(../img/Wave3.svg);
  padding-top:160px;
  padding-bottom:100px;
  color: rgb(234, 234, 234);
  background-position: center top;
  background-size: cover;
  margin-top: -4em;
}

section:nth-of-type(3){
  position:relative;
  padding-top:20px;
}

section aside+p{
  overflow: hidden;
}

section aside{
  float: right;
  width: 50%;
  max-width: 400px;
  margin-left: 5%;
  background: rgb(193, 214, 230, .9);
  border-top: solid 10px #1f7982;
  border-radius: 20px;
}


aside{
  display: inline-block;
  background-color: white;
  padding: 0px 20px;
  color: black;
}

aside p image{
  margin:0 auto;
}

aside h2{
  color: #1f7982;
  padding-top:20px;
}

aside h3{
  padding:0 0 10px;
}

aside img{
  padding: 10px;
}


h1{
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  color: #193B54;
  background: src('/static/img/rombo-line.png');
}

h1::after{
  content:"";
  background: url('/static/img/rombo-line.png') 0 0 no-repeat;
  width: 161px;
  height: 17px;
  display:block;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  color: #1f7982;
}



p{
    text-align: left;
    line-height: 1.8em;
}
ul{
  padding-top: 10px;
}

a{
  color: #1f7982;
  text-decoration: underline;
}

li{
  text-align: left;
  padding-left: 10px;
  font-size:20px;
  line-height: 1.7em;
}

@media only screen and (max-width: 600px) {
  section:nth-of-type(2){
    margin-top: -5em;
  }
}

@media only screen and (max-width: 940px) {
  section{
    padding:20px 5%;
  }

  section aside{
    float:none;
    margin:0 auto;
    width:100%;
    max-width: 100%;
  }
}


/* Hotel Card Begin */

.hotel__line-break, .hotel-card__line-break{
  height:1px;
  width:100%;
  max-width:320px;
  background:rgba(0,0,0,0.1);
  margin:16px auto;
}

.hotel-card__line-break{
  max-width:none;
   background:rgba(0,0,0,0.02);
}

.hotel-card{
  overflow:hidden;
  min-height:200px;
  border: 1px solid rgba(0,0,0,0.02);
  border-top: 4px solid #ffc721;
  border-radius: 8px;
  width:100%;
  margin:24px 0px;
  padding-top: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.0), 0 3px 6px rgba(0,0,0,0.03);
}

.hotel-card h3{
  margin:16px 0px;
  letter-spacing:2px;
  color: rgba(0,0,0,0.8);
  text-align:center;
}

.hotel-card__traits-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:8px 0px;
}

.hotel-card__trait{
  margin:16px;
  text-align:center;
  max-width:200px;
}

.hotel-card__trait i {
  color: #ffc721;
  font-size:36px;
  margin-bottom:16px;
}

.hotel-card__trait h4{
  margin:0px;
  margin-bottom:8px;
  font-size:18px;
  font-weight:bolder;
  letter-spacing:1px;
}


.hotel-card__description{
  margin:24px 16px;
}

.hotel-card__description h4{
  color:rgba(0,0,0,0.8);
  margin-top:32px;
  margin-bottom:8px;
}

.hotel-card p{
  color:rgba(0,0,0,0.6);
  margin:0px;
  padding:0px;
  text-align:center;
}

.hotel-card__banner {
  background: url('https://static1.squarespace.com/static/5058c827e4b058d273c5e14d/t/57dff16aff7c5017de11cf7e/1474294135599/84965789_thumbnail.jpg?format=1500w');
  background-position:right bottom;
  height:60px;
  border-top:6px solid #ffc721;
}


@media only screen and (max-width: 940px) {
  .hotel-card__traits-container{
    justify-content:space-around;
  }
  .hotel-card__trait{
    margin:16px 4px;
  }
}

/* SPONSORS LIST */
.sponsor_block{
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  background: gray;
}

.sponsor_block.diamond{background-color: #9999cc;}
.sponsor_block.gold{background-color: #ffcc66;}
.sponsor_block.silver{background-color: #ccc;}
.sponsor_block.bronze{background-color: #ffcc99;}
.sponsor_block.basic{background-color: #99cccc;}
.sponsor_block.tshirt{background-color: #99ccff;}
