body{
  background:#C3D6E5;
}

#dashboard__container{
  max-width: 1319px;
  margin:0 auto;
  padding: 24px;
}

.dashboard{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows:auto;
  grid-gap:24px;
  grid-auto-flow:dense;
  margin:16px auto;

}

.dashboard__header h1{
  color:#333;
  font-size:20px;
  margin:48px auto;
}

.dashboard__sponsors{
  width:100%;
  margin:0 auto;
}

.dashboard__sponsors h2{
  display:block;
  max-width:600px;
  padding-bottom:12px;
  margin:0 auto;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  text-align:center;
}


.dashboard__card, .dashboard__sponsors{
  min-height:200px; /* For dev reasons */
  box-sizing:border-box;
  overflow:hidden;
  background:white;
  border-radius:6px;
  border:1px solid rgba(0,0,0,0.07);
  box-shadow: 0 3px 6px rgba(0,0,0,0.00), 0 3px 6px rgba(0,0,0,0.07);
  padding:16px;
}

.dashboard__card:nth-of-type(1n){
  border-top:3px solid #e8ac53;
}
.dashboard__card:nth-of-type(3n){
  border-top:3px solid #D48336;
}
.dashboard__card:nth-of-type(2n){
  border-top:3px solid #3473A2;
}
.dashboard__card:nth-of-type(4n){
  border-top:3px solid #16B0BE;
}

.dashboard__card--tall { grid-row: span 2; }
.dashboard__card--wide { grid-column: span 2;}
.dashboard__card--extra-wide { grid-column: span 2;}


.dashboard__card h2{
  margin:0px;
  margin-bottom:24px;
  font-size:14px;
  letter-spacing:0.6px;
  color:rgba(0,0,0,0.3);
}

.dashboard__card a{
  font-size:12px;
  display: block;
  padding:12px 8px;
  color:inherit;
  text-decoration:none;
  font-family:inherit;
  background: linear-gradient(to right, #666, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s;
}


.dashboard__card a:hover {
  background: linear-gradient(#16B0BE, #3473A2 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dashboard p{
  color:rgba(0,0,0,0.7);
}

.dashboard__card img{
  max-width:100%;
  max-height:200px;
}

.dashboard__card button{
  display: block;
  padding:0px;
  width:100%;
  border:none;
  background:none;
  font-weight:bold;
  letter-spacing:1px;
  outline:none;
  font-family:inherit;
  border-radius:4px;
  border:1px solid rgba(0,0,0,0.07);
  transition:0.2s;
}
.dashboard__card button:not(:last-of-type){
  margin-bottom:12px;
}

.dashboard__card button:hover{
  cursor:pointer;
  margin-top:-2px;
  margin-bottom:14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dashboard__card button:last-of-type:hover{
  margin-top:-2px;
  margin-bottom:2px;
}

.dashboard__card button:active{
  margin-top:-1px;
  margin-bottom:13px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
  background:rgba(0,0,0,0.05);
}

.dashboard__card button:last-of-type:active{
  margin-top:-1px;
  margin-bottom:1px;
}

.registration-status{
  background: repeating-linear-gradient(
    -45deg,
    #fffaf5,
    #fffaf5 10px,
    #fffdfa 10px,
    #fffdfa 20px
  );
}

.not-ready{
  background: repeating-linear-gradient(
    -45deg,
    #f9f0f0,
    #f9f0f0 10px,
    #fffafa 10px,
    #fffafa 20px
  );
  border-top:3px solid #ba1b1b !important;
}

.registration-status i {
  display:block;
  width:80px;
  font-size:72px;
  margin:24px auto;
  background: linear-gradient(45deg, #F2994A 50%, #F2C94C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity:0.7;
}
.not-ready i {
  background: linear-gradient(45deg, #f24a4a 50%, #f2794c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity:0.7;

}




.dashboard__days-left{
  text-align:center;
  margin:44px auto;
  color:rgba(0,0,0,0.1);
}

#dashboard__days-left{
  font-size:24px;
  font-weight:bold;
  color: #3473A2;
  background: linear-gradient(#16B0BE, #3473A2 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ticket-details{
  background:white;
  background-size:23px 26px;
  background-position:bottom 4px center;
  background-repeat:repeat-x;
}
.ticket-details__space-between{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:32px auto;
}

.ticket-details__space-between a {
    color: #3172a4;
    padding: 0;
    background: none;
    -webkit-text-fill-color: #3172a4;
    text-decoration: underline;
    font-size: 19px;
}

.ticket-details h3{
  margin:0px;
  margin-bottom:8px;
  padding:0px;
  font-size:16px;
}

.ticket-details h4{
  margin:0px;
  margin-bottom:8px;
  padding:0px;
  font-size:12px;
  color:rgba(0,0,0,0.3);
  text-transform:uppercase;
}

.ticket-details p{
  margin:0px;
  padding:0px;
  margin-bottom:8px;
}

.ticket-details img{
  max-height:50px;
}

.dashboard__sponsors h2{
  background: linear-gradient(45deg, #ccc, #777 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sponsors__deck {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}

.sponsors__deck img{
  margin:16px;
  max-height:100px;
  max-width:160px;
}

/*
  TICKET DETAILS
*/
#sliding-form-window{
  min-height:350px;
  height:100%;
  min-width:300px;
  width:100%;
  overflow:hidden;
  position:relative;
}

.sliding-form-window__label{
  position:absolute;
  top:0px;
  left:0px;
  z-index:99;
  margin:16px;
}

#sliding-form{
  position:absolute;
  top:0px;
  left:0px;
  transition:0.2s all;
  display:flex;
  flex-wrap:wrap;
  box-sizing:border-box;
  width:300%;
  height:200%;
}

#sliding-form > div {
  height:50%;
  width:33.3333%;
  padding:8px;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  color:rgba(0,0,0,0.9);
}

#sliding-form p {
  max-width:600px;
}

#sliding-form input[type="radio"] {
  display:none;
}

#sliding-form .radio-group{
  margin-bottom:8px;
}

#sliding-form .radio-group label{
  box-sizing:border-box;
  border:1px solid rgba(0,0,0,0.02);
  border-radius:8px;
  cursor:pointer;
  display:block;
  padding:4px 12px;
  font-size:14px;
}

#sliding-form .radio-group label:hover{
  background:#FFF3E0;
  border-color:#FFF3E0;
}


#sliding-form .radio-group input[type=radio]:checked ~ label{
  background:#FFE0B2;
}

#sliding-form .radio-group input[type=radio]:checked ~ label:hover{
  border-color:#FFE0B2;
}

#sliding-form .radio-group label small{
  opacity:0.3;
}

#sliding-form input[type='text'], #sliding-form input[type='email']{
  border:0px;
  border-bottom:2px solid rgba(0,0,0,0.1);
  outline:none;
  padding:8px 0px;
  font-weight:bold;
  font-family:inherit;
  font-size:16px;
  letter-spacing:0.4px;
  -webkit-font-smoothing: antialiased;
  width:100%;
  max-width:240px;
  margin-bottom:12px;
}

#sliding-form input[type='text']:focus, #sliding-form input[type='email']:focus{
  border-bottom:2px solid #E8AC53;
}

#sliding-form input[type='text']:focus+i, #sliding-form input[type='email']:focus+i{
  color: #E8AC53;
}

#sliding-form input[type="text"]::-webkit-input-placeholder,#sliding-form input[type='email']::-webkit-input-placeholder{
  color: rgba(0,0,0,0.6);
  font-size:16px;
  font-weight:bold;
  font-family:inherit;
  letter-spacing:0.4px;
  -webkit-font-smoothing: antialiased;
}

#sliding-form i{
  display:none; /* TODO: FIX THE SCRUNCHING */
  color: rgba(0,0,0,0.6);
  transition:0.2s;
  font-size:18px;
  margin-right:8px;
  padding:2px;
  margin-bottom:12px;
}

#sliding-form .form-validation__failed {
  border-bottom:2px solid #FF5252 !important;
}

.errorlist {
    padding: 0 10%;
}

.errorlist li {
    list-style: none  !important;
    font-size: 12px  !important;
    color: #cd2424 !important;
}

/*
  END TICKET DETAILS
*/

@media only screen and (max-width: 600px){
  .dashboard{ grid-auto-flow:row; }
  .dashboard__card--tall { grid-row: span 1; }
  .dashboard__card--wide { grid-column: span 1;}
  .dashboard__card--extra-wide { grid-column: span 1;}
  .ticket-details__space-between { flex-wrap: wrap; }
  #what-can-i-do { grid-row: 2; }
}

@media only screen and (min-width: 935px) {
  .dashboard__card--wide { grid-column: span 3; }
}

@media only screen and (min-width: 1135px) {
  .dashboard__card--wide { grid-column: span 2; }
  #what-can-i-do { grid-column:-1;}
}
