<button class="btn btn-info" type="button" onclick="window.location.href = '{{ instance.file_src.url }}';">{{ instance.link_title }}</button>

{% comment %}
    # https://github.com/divio/django-filer/blob/master/filer/models/filemodels.py
    {{ instance.file_src }}
    {{ instance.file_src.extension }}
    # Available variables:
    {{ instance.template }}
    {{ instance.file_name }}
    {{ instance.link_target }}
    {{ instance.link_title }}
    {{ instance.show_file_size }}
    {{ instance.attributes_str }}
{% endcomment %}
