{% extends 'account/base.html' %}
{% load i18n %}

{% block title %}{% if is_new %}Success{% else %}Already registered{% endif %}{% endblock title %}
{% block form_title %}{% if is_new %}Success{% else %}Already registered{% endif %}{% endblock form_title %}
{% block form_area %}
    <form method="post" action="#" autocomplete="off">
        {% csrf_token %}
        <div class='prompt__group'>
            {% if is_new %}
                <p>Lead has been successfully registered</p>
            {% else %}
                <p>Lead was already registered on {{ lead.created_on }}</p>
            {% endif %}
        </div>
    </form>
{% endblock form_area %}
