{% load cms_tags i18n menu_tags sekizai_tags static %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131160725-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131160725-1');
    </script>
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% render_block "css" %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="https://use.typekit.net/rns7ahv.css">
    {% block css %}{% endblock css %}
</head>
<body>
  {% cms_toolbar %}
  {% if request.current_page  %}
      {% if LANGUAGE_CODE == 'en' %}
          {% page_url request.current_page|default_if_none:'home' 'es' as language_switcher_url %}
      {% else %}
          {% page_url request.current_page|default_if_none:'home' 'en' as language_switcher_url %}
      {% endif %}
  {% else %}
      {% if LANGUAGE_CODE == 'en' %}
          {% page_url 'home' 'es' as language_switcher_url %}
      {% else %}
          {% page_url 'home' 'en' as language_switcher_url %}
      {% endif %}
  {% endif %}
  <header>
    <!-- TODO: remove nav bar from here and import through django -->
    <nav class="navbar navbar-expand-lg navbar-light">
      {% if not request.current_page.is_home %}
        <a class='navbar-brand' href='{% page_url "home" %}'><img src="{% static 'img/pylatamheader.svg' %}"/></a>
      {% endif %}

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarNav" style="">
        <ul class="navbar-nav navbar-right">
          {% show_menu 0 2 2 2 'includes/menu/navigation.html' %}
          <li class="translation"><input {% if LANGUAGE_CODE == 'en' %}checked {% endif %}id="lang" type="checkbox" data-toggle="toggle" data-on="EN" data-off="ES"></li>
        </ul>
      </div>

    </nav>


    <!-- {\% import menu tag \%} -->
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>

  </footer>
  {% render_block "js" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
      $('#lang').change(
          function(){
            animationsTest(function () {
              window.location.replace("{{ language_switcher_url }}");
            });
          });

        function animationsTest (callback) {
          // Test if ANY/ALL page animations are currently active

          var testAnimationInterval = setInterval(function () {
            if (! $.timers.length) { // any page animations finished
              clearInterval(testAnimationInterval);
              callback();
            }
          }, 25);
        };
    </script>
</body>
</html>
