{% extends 'base.html' %}
{% load cms_tags i18n sponsors_tags static thumbnail %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>{% endblock css %}

{% block content %}
    <section id='pycon'>
        <h1><img class='header' src="{% static 'img/Pythonlatam_brandletraspng.png' %}" alt='PyCon LATAM'/></h1>
        <time class='pycon-title' datetime='2020-08-29 09:00'>{% trans "AUGUST" %} 29, 2020
            <time>
                <a href='{% page_url "travel" %}'>PURTO VALLARTA, MÉXICO</a>
                <a class='scroll-down glyphicon glyphicon-menu-down' href='#mc_embed_signup' data-offset='-45'></a>
    </section>

    <section id='sponsors'>
        <h2>{% trans "SPONSORS" %}</h2>
        <img class='divider' src="{% static 'img/rombo-line.png' %}"/>
        <p class='sponsor-text'>
            {% blocktrans %}The companies and organizations who sponsor PyCon Latam make the conference possible,
                and get to connect with a wide array of Python programmers.{% endblocktrans %}
        </p>
        <div class='sponsor-logos'>
            {% get_sponsors as sponsors %}
            {% for sponsor in sponsors %}
                <a href="{{ sponsor.website }}" target="_blank">
                    <img src="{% thumbnail sponsor.logo 250x90 %}" alt='{{ sponsor.name }}'/>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
