{% extends 'base.html' %}
{% load cms_tags i18n sponsors_tags static thumbnail %}

{% comment %}
TODO: Adaptar esto al nuevo template
{% block css %} {% endblock css %}

{% block content %}
    <section id='pycon'>
        <h1><img class='header' src="{% static 'img/Pythonlatam_brandletraspng.png' %}" alt='PyCon LATAM'/></h1>
        <time class='pycon-title' datetime='2020-08-29 09:00'>{% trans "AUGUST" %} 29, 2020
            <time>
                <a href='{% page_url "travel" %}'>PURTO VALLARTA, MÉXICO</a>
                <a class='scroll-down glyphicon glyphicon-menu-down' href='#mc_embed_signup' data-offset='-45'></a>
    </section>

    <section id='sponsors'>
        <h2>{% trans "SPONSORS" %}</h2>
        <img class='divider' src="{% static 'img/rombo-line.png' %}"/>
        <p class='sponsor-text'>
            {% blocktrans %}The companies and organizations who sponsor PyCon Latam make the conference possible,
                and get to connect with a wide array of Python programmers.{% endblocktrans %}
        </p>
        <div class='sponsor-logos'>
            {% get_sponsors as sponsors %}
            {% for sponsor in sponsors %}
                <a href="{{ sponsor.website }}" target="_blank">
                    <img src="{% thumbnail sponsor.logo 250x90 %}" alt='{{ sponsor.name }}'/>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
{% endcomment %}

{% block content %}
<div class="mt-8 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-20 xl:mt-24">
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
      <time class="text-sm font-semibold uppercase tracking-wide text-gray-500 sm:text-base lg:text-sm xl:text-base" datetime="2020-08-29 09:00">
        {% trans "AUGUST" %} 29, 2020
      </time>
      <h2 class="mt-1 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl">
        PyCon Latam
        <br class="hidden md:inline" />
        <a href='{% page_url "travel" %}'><span class="text-blue-800">Puerto Vallarta</span></a> <!-- TODO: dejar este link? -->
      </h2>
      <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
        {% blocktrans %}Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua ad ad non deserunt sunt.{% endblocktrans %}
      </p>
      <div class="mt-5 sm:max-w-lg sm:mx-auto sm:text-center lg:text-left lg:mx-0">
      </div>
    </div>
    <div class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center">
      <svg class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-8 scale-75 origin-top sm:scale-100 lg:hidden" width="640" height="784" fill="none" viewBox="0 0 640 784">
        <defs>
          <pattern id="svg-pattern-snakes-mobile" x="118" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <!-- TODO: Embeber las serpientes -->
          </pattern>
        </defs>
        <rect y="72" width="640" height="640" class="text-gray-50" fill="currentColor" />
        <rect x="118" width="404" height="784" fill="url(#svg-pattern-snakes-mobile)" />
      </svg>
      <div class="relative mx-auto w-full rounded-lg shadow-lg lg:max-w-md">
        <button class="relative block w-full rounded-lg overflow-hidden focus:outline-none focus:shadow-outline">
          <img class="w-full" src="{% static 'img/logos/pycon-latam-logo-large.svg' %}" alt="Presentación Pycon Latam" />
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Features -->
<div class="py-12 bg-white">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="p-6 bg-gray-100 rounded-lg shadow-lg">
    <div class="lg:text-center">
      <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        {% trans "La conferencia que no te quieres perder" %}
      </h3>
      <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
        {% blocktrans %}Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.{% endblocktrans %}
      </p>
    </div>
    <div class="mt-10">
    </div>
  </div>
</div>
<!-- Prices -->
<!-- Sponsors -->
{% endblock content %}
