{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PyCon Latam 2020 recap</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/grayscale.min.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">PyCon Latam 2020</h1>
      </div>
    </div>
  </header>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-7 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="/static/img/pyconlatam/asistentes.jpg" alt="">
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="featured-text text-center text-lg-left">
            <h4>Asistentes</h4>
            <p class="text-black-50 mb-0">Total de asistentes: 182</p>
            <p>De los 182 asistentes, 30 recibieron una beca gracias a la PSF y se pudieron otorgar otras 6 becas gracias las donaciones recibidas de diferentes miembros de la comunidad y a la participación de los patrocinadores; estas becas cubrían sus gastos de entrada al evento, hospedaje y alimentos durante 3 noches.</p>
            <p>10 asistentes fueron de la comunidad local.</p>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <div class="img-object">
            <img src="/static/img/pyconlatam/1AC2720.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Sede</h4>
                <p>PyCon Latam se llevo a cabo en la ciudad de Puerto Vallarta, teniendo como sede el hotel Friendly Vallarta.</p>
                <p>Al hospedarse los asistentes en el hotel sede facilito la convivencia de estos, al mismo tiempo ahorro tiempo y dinero en traslados.</p>
                <p>El hotel cuenta con políticas sobre el cuidado al medio ambiente, lo que facilito que durante PyCon Latam no se utilizaran productos desechables.</p>
                <hr class="d-none d-lg-block mb-0 mr-0 yellow">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <div class="img-object">
            <img src="/static/img/pyconlatam/1AC2819.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Precio</h4>
                <p class="mb-0">El boleto para la conferencia incluía el alojamiento por 4 días y 3 noches en plan todo incluido, los precios variarion dependiendo de la ocupación en la habitación.</p>
                <ul>
                  <li>Sencilla – $2,499 MXN</li>
                  <li>Doble - $ 1,699 MXN</li>
                  <li>Triple - $1,599 MXN</li>
                  <li>Cuádruple - $1,549 MXN</li>
                  <li>Menor de edad - $1,165 MXN</li>
                </ul>
                <p class="mb-0 text-white-50">Este precio es por noche, por persona.</p>
                <p>Para los asistentes locales se ofreció un precio preferencial de - $1,500.00, el cual no incluía estancia en el hotel.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <div class="img-object">
            <img src="/static/img/pyconlatam/1AC3304.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Patrocinio y donaciones</h4>
                <p>Se contó con el apoyo económico de la Python Software Fundation, cuya donación fue utilizada en su totalidad para brindar becas completas a 30 de los asistentes a la conferencia.</p>
                <p>El evento conto con el patrocinio de: <a href="https://www.linode.com/" target="_blank">Linode</a>, <a href="https://github.com/" target="_blank">GitHub</a>, <a href="https://www.elastic.co/es/" target="_blank">Elastic</a>, <a href="https://www.microsoft.com/es-mx" target="_blank">Microsoft</a>, <a href="https://www.intel.la/content/www/xl/es/homepage.html" target="_blank">Intel</a>, <a href="https://www.sherpany.com/en/" target="_blank">Sherpany</a>, <a href="https://www.paykii.com/" target="_blank">Paykii</a>, <a href="https://www.ensitech.com/" target="_blank">Ensitech</a>, <a href="https://readthedocs.org/" target="_blank">Read the Docs</a> y Cinefonik.</p>
                <p> <a href="https://www.oreilly.com/" target="_blank">O´Reilly</a> amablemente donó libros para ser rifados entre los voluntarios.</p>
                <p>También se contó con donaciones particulares de diferentes miembros de la comunidad.</p>
                <hr class="d-none d-lg-block mb-0 mr-0 yellow">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Three Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <div class="img-object">
            <img src="/static/img/pyconlatam/1AC3424.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Mujeres en PyCon Latam</h4>
                <p>52 mujeres asistentes</p>
                <ul>
                  <li>De los 4 Keynotes, 2 son mujeres</li>
                  <li>De las 24 Charlas, 5 mujeres presentaron</li>
                  <li>De los 7 Organizadores, 2 son mujeres</li>
                </ul>

                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <div class="img-object">
            <img src="/static/img/pyconlatam/1AC4650.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">

                <h4 class="text-white">Fotografía</h4>
                <p class="mb-0">El fotógrafo oficial del evento fue <a href="http://www.instsgram.com/ccarloscasanova" target="_blank">Carlos Casanova</a>, quien ofreció sus servicios de manera voluntaria para el evento.</p>
                <p><a href="https://photos.app.goo.gl/nnmtyLN2uhXcdoBA8" target="_blank">Aquí</a> podrán ver el álbum completo.</p>
                <hr class="d-none d-lg-block mb-0 mr-0 yellow">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Three Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <div class="img-object">
            <img src="/static/img/pyconlatam/1AC3379.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Código de conducta</h4>
                <p>El evento contó con un <a href="https://www.pylatam.org/conducta/" target="_blank">código de conducta</a> formalmente establecido.</p>
                <p>La conferencia transcurrió sin incidentes reportados.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <div class="img-object">
            <img src="/static/img/pyconlatam/1AC4091.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">

                <h4 class="text-white">Ayuda financiera</h4>
                <p>Se recibieron un total de 114 postulaciones para obtener una beca.</p>
                <p>Fue posible otorgar un total de 36 becas, las cuales incluían:</p>
                <ul>
                  <li>Acceso a las conferencias y taller.</li>
                  <li>Estancia por 4 días y 3 noches en plan todo incluido.</li>
                </ul>
                <p>A los asistentes locales se les ofreció un precio especial de $1,500.00 mx, este costo no incluía el alojamiento.</p>
                <hr class="d-none d-lg-block mb-0 mr-0 yellow">
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Project Three Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <div class="img-object">
            <img src="/static/img/pyconlatam/1AC3049.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Representación de los asistentes </h4>
                <div class="row">
                  <ul class="col-lg-6">
                    <li>Alemania</li>
                    <li>Argentina</li>
                    <li>Bolivia</li>
                    <li>Brasil</li>
                    <li>Chile</li>
                    <li>Colombia</li>
                    <li>Costa Rica</li>
                    <li>Ecuador</li>
                    <li>El Salvador</li>
                    <li>Guatemala</li>
                  </ul>
                  <ul class="col-lg-6">
                    <li>Italia</li>
                    <li>México</li>
                    <li>Nicaragua</li>
                    <li>Panamá</li>
                    <li>Paraguay</li>
                    <li>Perú</li>
                    <li>Puerto Rico</li>
                    <li>República Dominicana</li>
                    <li>U.S.A.</li>
                    <li>Venezuela</li>
                  </ul>
                </div>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <div class="img-object">
            <img src="/static/img/pyconlatam/1AC2875.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Equipo organizador y voluntarios</h4>
                <p>El evento fue organizado por un equipo compuesto por: (de izq a derecha) Gaby, Joel, Katia, Paulo, Paul, Orlando y Joaquín</p>
                <p>Además, se contó con el apoyo de 35 voluntarios, que brindaron su apoyo a lo largo del evento en diversas tareas.</p>
                <hr class="d-none d-lg-block mb-0 mr-0 yellow">
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </section>

  <!-- Footer -->
  <footer class="small text-center text-white-50">
    <div class="container">
      Copyright &copy; PyCon Latam 2020
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/grayscale.min.js"></script>

</body>

</html>
