{% load cms_tags core_tags i18n menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html lang="en">

<head>
          {% render_block "css" %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/grayscale.min.css" rel="stylesheet">
    
</head>

<body id="page-top">
          {% cms_toolbar %}
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
          {% placeholder herounit_title %}
      </div>
    </div>
  </header>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-1">
        <div class="col-xl-7 col-lg-6 p-5">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/Vw-4kwa4Khg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="featured-text text-center text-lg-left">
          {% placeholder mensaje %}
          </div>
        </div>
      </div>

      <img src="{% static 'img/rombo-line.png' %}" style="display: block; padding: 10px; margin: 0 auto;"/>
      <div class="row align-items-center no-gutters mb-4 mb-lg-1">
        <div class="col-xl-7 col-lg-6 p-5">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/KMPsy2SO0M4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="featured-text text-center text-lg-left">
          {% placeholder carol %}
          </div>
        </div>
      </div>

      <img src="{% static 'img/rombo-line.png' %}" style="display: block; padding: 10px; margin: 0 auto;"/>
      <div class="row align-items-center no-gutters mb-4 mb-lg-1">
        <div class="col-xl-7 col-lg-6 p-5">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/PVliND_o58c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="featured-text text-center text-lg-left">
          {% placeholder sergio %}
          </div>
        </div>
      </div>

      <img src="{% static 'img/rombo-line.png' %}" style="display: block; padding: 10px; margin: 0 auto;"/>
      <div class="row align-items-center no-gutters mb-4 mb-lg-1">
        <div class="col-xl-7 col-lg-6 p-5">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/BajgzKsHBU8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="featured-text text-center text-lg-left">
          {% placeholder tania %}
          </div>
        </div>
      </div>

      <img src="{% static 'img/rombo-line.png' %}" style="display: block; padding: 10px; margin: 0 auto;"/>
      <div class="row align-items-center no-gutters mb-4 mb-lg-1">
        <div class="col-xl-7 col-lg-6 p-5">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/aLS3mfN_llM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="featured-text text-center text-lg-left">
          {% placeholder froilan %}
          </div>
        </div>
      </div>

      <img src="{% static 'img/rombo-line.png' %}" style="display: block; padding: 10px; margin: 0 auto;"/>
      <div class="row align-items-center no-gutters mb-4 mb-lg-1">
        <div class="col-xl-7 col-lg-6 p-5">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/X6qYsyCUACA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="featured-text text-center text-lg-left">
          {% placeholder lorena %}
          </div>
        </div>
      </div>

      <img src="{% static 'img/rombo-line.png' %}" style="display: block; padding: 10px; margin: 0 auto;"/>
      <div class="row align-items-center no-gutters mb-4 mb-lg-1">
        <div class="col-xl-7 col-lg-6 p-5">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/EC98HDMSR8Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="featured-text text-center text-lg-left">
          {% placeholder luciano %}
          </div>
        </div>
      </div>

      <img src="{% static 'img/rombo-line.png' %}" style="display: block; padding: 10px; margin: 0 auto;"/>
      <div class="row align-items-center no-gutters mb-4 mb-lg-1">
        <div class="col-xl-7 col-lg-6 p-5">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/QxjTc_QcL1s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="featured-text text-center text-lg-left">
          {% placeholder alvaro %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/grayscale.min.js"></script>

</body>

</html>
