{% extends "base.html" %}
{% load static %}

{% block title %}Pycon Latam 2020{% endblock title %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />{% endblock css %}


{% block content %}
<article class='styleguide'>
  <div class='col-left'>
    <span class='category-label'>Colors</span>
    <div class='color-row'>
      <div class='palette-01'></div>
      <p>Sap Green</p>
      <span class='hex'>#0A3410</span>
    </div>
    <div class='color-row'>
      <div class='palette-02'></div>
      <p>Alizarin Crimson</p>
      <span class='hex'>#4E1500</span>
    </div>
    <div class='color-row'>
      <div class='palette-03'></div>
      <p>Van Dyke Brown</p>
      <span class='hex'>#221B15</span>
    </div>
    <div class='color-row'>
      <div class='palette-04'></div>
      <p>Pthalo Blue</p>
      <span class='hex'>#0C0040</span>
    </div>
  </div>
  <div class='col-right'>
    <span class='category-label'>Typography</span>
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <p>This is a paragraph. Little trees and bushes grow however makes them happy. Without washing the brush, I'm gonna go right into some Van Dyke Brown, some Burnt Umber, and a little bit of Sap Green. Maybe there was an old trapper that lived out here and maybe one day he went to check his beaver traps, and maybe he fell into the river and drowned.</p>
    <a href='#'>This is a hyperlink.</a>
  </div>
</article>


{% endblock content %}
